<div class="container">
    <img src="/assets/images/main/about-main-images/cheers.jpg" alt="cheers image" class="image">
    <div class="background">
        <div class="text-content">
            <p class="heading">ABOUT US</p>
            <div class="content">
                <p class="description1">"Dive deep into the world of spirits and libations with us. From the rich history of whiskey to the subtle nuances of wine, our journey through the realm of alcohol is both enlightening and captivating. </p>
                <p class="description2">Curious? Discover more about our passionate team and our intoxicating quest for knowledge."</p>
                <a class="button" [routerLink]="['/about']" (click)="onLinkClick()">learn more</a>
            </div>
        </div>
    </div>
</div>
