html, body {
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    top: -90px;
    left: -65px;
    width: 1424px;
    height: 500px; 
  }
  

.wine-image{
    width: 1424px;
    height: 500px;
}

.title {
    font-size: 100px;
    /* color: #CCCCCC; */
    color: #FDFCFD;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -40%); /* Adjusts the positioning to truly center the element */
    font-family: 'Montserrat', sans-serif;
    padding: 4px 16px;
    border: 4px solid #e8b923;
}