.wine-process-title {
    text-align: left;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    color: #FDFCFD;
}

.wine-process-content {
    text-align: left;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    color: #FDFCFD;
}

.title-red,
.title-white,
.title-rose,
.title-sparkling,
.title-pilsner, 
.title-fortified {
    font-size: 40px;
}
