.title{
    text-align: left;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    color: #FDFCFD;
}

.content{
    text-align: left;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    color: #FDFCFD;
}

.title-gallo,
.title-constellation,
.title-winegroup,
.title-treasury,
.title-castel{
    font-size: 40px;
}