.title{
    text-align: left;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    color: #FDFCFD;
}

.content{
    text-align: left;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    color: #FDFCFD;
}

.title-sake,
.title-soju,
.title-mijiu,
.title-ruou-can,
.title-lao-lao,
.title-tapuy{
    font-size: 40px;
}