.title{
    text-align: left;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    color: #FDFCFD;
}

.content{
    text-align: left;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    color: #FDFCFD;
}

.title-whiskey,
.title-vodka,
.title-rum,
.title-tequila,
.title-gin,
.title-brandy{
    font-size: 40px;
}